<!DOCTYPE HTML>
<html>
    <head>
        <link rel="Stylesheet" type="text/css" href="{{ site.root }}/static/css/style.css">
        <link rel="Stylesheet" type="text/css" href="{{ site.root }}/static/css/tango.css">
        <title>{% block title %}{% endblock %}</title>
        <meta name="keywords" content="{{ site.keywords }}"/>
        <meta name="description" content="{{ site.description }}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="{{ site.root }}/static/favicon.ico" media="screen" />
    </head>

    <body>
        <div id="container">
            {% block container %}
            {% endblock %}
        </div>
        <div id="footer">
            <span>
                Copyright © 2015 <a href="http://jrwang.me" target="_blank">{{ site.author }}</a>.
                Powered by <a href="http://simiki.org/" target="_blank">Simiki</a>.
            </span>
            <span>
                Theme based on <a href="https://github.com/tankywoo/yasimple" target="_blank">YASimple</a>.
            </span>
            <p>Last Update {{ site.time.strftime("%Y-%m-%d %H:%M:%S") }}</p>
        </div>
    </body>
</html>
